window {
  background-color: rgba(10, 20, 10, 0.95); /* dark forest green */
  font-family: "JetBrainsMono Nerd Font", monospace;
  color: #ddddcc;
}

button {
  background-color: rgba(40, 60, 40, 0.8);
  border: 2px solid #88aa55;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  font-size: 16pt;
  font-weight: bold;
}

button:hover {
  background-color: rgba(80, 120, 80, 0.9);
  color: #ffffff;
  border-color: #aaffaa;
}
